<header id="header">
	<div id = site_title>
		<a href="{{ "/" | absolute_url }}">
			<h1>{{site.title}}</h1>
		</a>
		{% if site.data.settings.subtitle.active %}
		<h2>
			{{ site.data.settings.subtitle.text }}
		</h2>
		{% endif %}
	</div>

	<div id="subheader">
		{% if site.data.settings.nav.pages.active %}
		<nav class="pages">
			{%- include pages.html -%}
		</nav>
		{% endif %}
		{% if site.data.settings.nav.social.active %}
		<nav class="social">
			{% include social.html %}
		</nav>
		{% endif %}
	</div>
</header>