//Colors
$base: #a2a2a2;
$light-grey: #ebebeb;


.container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
  
  /*48em*/
  
@media (max-width: 768px) {
    .container {
      width: 80vw;
    }
}
  

h1 a {
    text-decoration: none;
    color: black;
  }

h2 a{
  text-decoration: none;
  color: black;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'PT Serif', serif;
}

#load-comments{
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 15px 35px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    max-width: fit-content;
    //Make text not selectable
    -webkit-user-select: none;      
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    color: $base;
}

#load-comments:hover{
  cursor: pointer;
  color: black;
  background-color: $light-grey;
}

.disqus{
  margin-top: 50px;
}