//Vars
$base: #a2a2a2;

//CSS
header{
    #site_title{
        a{
            text-decoration: none;
            text-align: center;
            color: black;
        }
    }
}


/* Nav */
#subheader{
display: block;
    .pages{
        display: block;
        float: left;
        a:hover{
            color: black;
        }
        a{
            text-decoration: none;
            color: $base; 
            font-family: 'PT Serif', serif;
        }
    }

    .social{
        display: block;
        float: right;
    }
}