li.post{
    display: block;
    padding-top: 1rem;
}

.post-container{
    min-height: calc(85vh - 70px);
}

.post{
    padding-bottom: 1rem;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  