//Social link colors
$base: #a2a2a2;

//Change colors here
$github: #24292e;
$twitter: #1DA1F2;
$linkedin: #0e76a8;


//CSS
.social{
    a{
        color: $base;
    }
    i{
        font-size: 1.1rem;
    }
    #github:hover{
        color: $github;
    }
    #twitter:hover{
        color: $twitter;
    }
    #linkedin:hover{
        color: $linkedin;
    }
}

.pages{
    a{
        font-size: 1.05rem;
    }
}

@media (max-width: 768px){
    .social{
        i{
            font-size: 1.2rem;
        }
    }
    .pages{
        a{
            font-size: 1.1rem;
        }
    }
}