//Social link colors
//Change or add colors here if you want
$github: #24292e;
$twitter: #1DA1F2;
$linkedin: #0e76a8;
$rss: #f26522;
$mail: #5d5c5d;
$instagram: #e1306c;
$facebook: #3b5998;
$messenger: #0084ff;
$youtube: #ff0000;
$whatsapp: #25d366;
$reddit: #ff4500;




//CSS
.social{
    a{
        color: $base;
    }
    i{
        font-size: 1.1rem;
    }
    #github:hover{
        color: $github;
    }
    #twitter:hover{
        color: $twitter;
    }
    #linkedin:hover{
        color: $linkedin;
    }
    #rss:hover{
        color: $rss;
    }
    #envelope:hover{
        color: $mail;
    }
}

.pages{
    a{
        font-size: 1.05rem;
    }
}

@media (max-width: 768px){
    .social{
        i{
            font-size: 1.2rem;
        }
    }
    .pages{
        a{
            font-size: 1.1rem;
        }
    }
}