---
layout: default
title: Contact
---

<h2>Contact Form</h2>
<div class = "form">
    <form name = "contact-form" method = "POST" data-netlify="true" data-netlify-recaptcha="true">
        <input type="text" name="name" id="name" placeholder="Name" required><br>

        <input type="mail" name="mail" id="mail" placeholder="Email" required><br>

        <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea><br>

        <input type="submit" value="Submit"><br>
    </form>
</div>